body {
    font-family: 'San Francisco Display', sans-serif;
    font-size: 14px;
    padding-top: 70px;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'San Francisco Display', sans-serif;
}
h1{
    font-size: 57px;
}
a{
    cursor: pointer;
}

.text-danger{
    color: #A91C24;
}

/* Navigator */
.navbar{
    background: #fff;
    height: 70px;

}
.navbar-toggle{
      display: none;
  }

.navbar .navbar-brand{
    background: #fff;
    border-radius: 8px;
    padding: 60px 0 10px 10px;
    width: 200px;
}
#nav-menu li>a{
    color: #000;
    font-size: 16px;
    line-height: 1.8em;
    font-weight: 400;
    text-transform: uppercase;
}
#nav-menu .navbar-nav{
    padding-top: 0;

}

#slider{
    background-image: url("../img/bg1.jpg");
    background-size: cover;
    min-height: 500px;
}
#slider .upline{
    background: #1C1D1A;
    padding: 10px 0 1px 0;
}
#slider .upline h4{
    font-weight: 200;
    font-size: 16px;
    color: #fff;
    letter-spacing: 2px;
}
#main-slider .container{
    position: relative;
    min-height: 640px;
    overflow: hidden;
}
#main-slider .item-2{
    background: #020710;
}
#main-slider .item-2 .one{
    padding-top: 110px;
    background-image: url(../img/bg-item-2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 80px;
}
#main-slider .item-2 .two{
    padding-top: 100px;
    text-align: center;
}
#main-slider .item-2 img{
    width: 100%;
}
#main-slider .carousel-indicators li{
    background: #ffffff;
}
#main-slider .carousel-indicators li.active{
    background: #ff9200;
}
#main-slider .intro1-text ul{
    padding-left: 0;
}
#main-slider .intro1-text li{
    color: #fff;

}
#main-slider .intro1-text .promo{
    font-size: 22px;
    text-transform: uppercase;
}
.register-form{
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 400px;
    padding:10px 20px 0px 20px;
    color: #fff;
    border-bottom: 6px solid #1C1D1A;
}
#myModal .register-form{
    position: static;
    background: rgba(186, 0, 26, 0.62);
    border: 4px solid rgba(28, 29, 26, 0.72);
}
#myModal .modal-content{
     background: none;
    border: none;
}
.register-form h1{
    color: #fff;
    line-height:1.8em;
  margin-bottom: 0;
    font-size: 50px;
}
.register-form hr{
    margin-top: 0;
    background: #fff;
    width: 80%;
    margin-bottom: 20px;
}
.register-form input[type='radio']{
    margin-right: 10px;
    font-size: 30px;
}
.register-form input[type='radio']:last-child{
    margin-left: 30px;
}
.intro1-img{
    position: absolute;
    left: 383px;
    bottom: -50px;
    width: 50%;
}
.intro1-text{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 260px;
}
.intro1-text p{
    color: #fff;
    font-size: 16px;
}

.intro1-text .overlay{
    background: rgba(0, 0, 0, 0.5);
    margin-bottom: 0;
    padding: 10px;
    border-bottom: 6px solid #1C1D1A;
}
.intro1-text .overlay p{
    margin-bottom: 5px;
    font-size: 14px;
}
.sm-only{
    display: none;
}

#you-waiting{

    background: #EFB21D;
}
#you-waiting p{
    font-size: 25px;
    margin-top: 20px;
}
#who-study h4,#who-study p{
    font-size: 25px;
    font-weight: 300;
}
#who-study h4{
    font-weight: bold;
    text-transform: uppercase;
}

#fpt-aptech-1{
    background-image: url("../img/blue-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#fpt-aptech-1 p{
    font-size: 25px;
}
.pd-6{
    padding: 60px 0;
}
#fpt-aptech-2{
    background: #ECEDED;
}
#fpt-aptech-2 h4{
    font-size: 23px;
    text-transform: uppercase;
}
#fpt-aptech-2 p{
    font-size: 20px;
}
#fpt-aptech-2 .img-fluid{
    position: absolute;
    bottom: -62px;
    right: 0;
}
#syllabus{
    background-image: url("../img/semester-bg.jpg");
    background-size: cover;
}
#syllabus .col-sm-3{
    padding-left: 10px;
    padding-right: 10px;
}
#syllabus .header p{
    font-size: 23px;
    margin-bottom: 5px;
}
.semester p,.semester h4{
    font-size: 17px;
}
.semester{
    background: #fff;
    overflow: hidden;
    border-radius: 23px;
    flex: 1;
    position: relative;
}
.semester .sem-header{
    background: #AC1F24;
    padding: 10px 0 1px 0 ;
}
.semester .sem-header h3{
    text-align: center;
    color: #fff;
    font-size: 26px;
}
.semester .sem-body{
    padding: 20px 12px;
    text-align: justify;

}
.semester .sem-body h4{
    line-height: 1.6em;
    font-weight: bold;
}
.semester .bottom{
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
}

#syllabus .flex-row{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;
}
#syllabus .flex-row > .flex-column{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
#jobs{
    background-image: url("../img/job-bg.jpg");
    background-size: cover;
    color: #fff;
    overflow: hidden;
}

#jobs li{
    font-size: 25px;
}

#jobs .img-fluid{
    position: absolute;
    right: -60px;
    bottom: -100px;
}
#testimonial blockquote,#testimonial p{
    font-size: 19px;
}
#testimonial blockquote{
    font-style: italic;
    margin-top: 30px;
}
#carouselExampleIndicators{
    min-height: 280px;
}
.carousel-indicators{
    margin-top: 70px;
}
.carousel-indicators li{
    background: rgba(0, 0, 0, 0.44);
    height: 6px;
}
.carousel-indicators li.active{
    background: #910000;
}
#contact{
    background-image: url("../img/bt-bg.jpg");
    background-size: cover;
}
#contact p,#contact h5{
    font-size: 20px;
}
#btn-chat{
    background: transparent;
    background: #00B4FF;
    color: #fff;
    font-family: Roboto;
    text-shadow: none;
}
.fbchatbox{
    position:fixed;right:5px;bottom:20px;z-index:9999;
}
.hide{
    display: none!important;
}
#notification .modal-title{
    width: 100%;
}
#notification .modal-title>img{
    margin-bottom: 10px;
}
#notification .modal-content{

}

/*Responsive via Media Query*/

@media screen and (max-width: 660px){
    #jobs .img-fluid{
        position: relative;
        right: 0;
        bottom: 0;

    }
    .container{
        margin-left: 0;
        margin-right: 0;
    }
    #main-slider .container{
        width: 100%;
    }

    #jobs p{
        font-size: 18px;
    }
    #carouselExampleIndicators{
        min-height: 680px;
    }
    body{
        padding-top: 60px;
    }
    .navbar .navbar-brand{
        padding:0 0 0 10px;
        width: 200px;

    }
    .navbar-toggler-right{
        right: 10px;
        top: 5px;
        border: 1px solid #4b5257;
    }
    .navbar .zmdi.zmdi-menu{
        font-size: 30px;
    }
    .navbar{
        padding: 5px 0;
        height: 60px;
        overflow: visible;
        box-shadow: 1px 0px 2px 1px #4b5257;
        background: #fff;
    }
    #nav-menu{
        background: #fff;
        padding: 0 0 0 0;
        border-bottom: 4px solid #4b5257;

    }
    #nav-menu .navbar-nav{
        padding-top: 0;
    }
    #nav-menu .nav-link{
        text-align: right;
        border-top: 1px solid #4b5257;
        padding-right: 10px;
        font-weight: 400;
    }
    .navbar-toggleable-md>.container{
        margin-left: 0;
        margin-right: 0;
    }
    .lg-only{
        display: none;
    }
    .sm-only{
        display: block;
    }
    #slider .upline>.container{
        padding: 0;
    }
    #slider .upline h4{
        font-size: 14px;
        line-height: 1.4em;
    }
    #main-slider .container{
        height: 980px;
    }
    #slider .intro1-img{
        top: 20px;
        left: 0;
        width: 100%;
    }
    #slider .intro1-text{
        width: 100%;
        right: 0;
        text-align: center;
        position: relative;
        margin-top: 340px;
    }
    #slider .intro1-text li{
        list-style-type: none;
    }
    #slider .intro1-text p{
        font-size: 14px;
    }
    #slider .register-form{
        bottom: 0;
        left: 0;
        width: 100vw;
        background: none;
    }
    .intro1-text .overlay{
       display: none;

    }
    #main-slider .item-2 .two{
        padding-top: 20px;
    }
    .intro1-text .overlay>p{
        margin-bottom: 5px;
        font-size: 10px;
    }
    #slider .register-form h1{
        font-size: 40px;
    }
    h1{
        font-size: 30px;
    }
    #you-waiting p{
         font-size: 16px;
         margin-top: 10px;
     }
    #who-study h4,#who-study p{
        font-size: 16px;
    }
    img.img-fluid{
        width:100%;
    }
    .pd-6{
        padding: 30px 0;
    }
    #fpt-aptech-2 .img-fluid{
        position: relative;
        bottom: -32px;
    }
    .semester .bottom{
        position: static;
    }
    #myModal .register-form{
        width: 100%;
    }
    #myModal h1{
        font-size: 30px;
    }

}
@media screen and (max-width: 330px) {
    #slider .upline h4{
        font-size: 12px;
    }
    #slider .register-form h1{
        font-size: 30px;
    }
    h1{
        font-size: 30px;
    }
}
@media screen and (max-width: 1200px) and (min-width: 660px){
    #nav-menu li>a{
        font-size: 13px;
    }
}
